@model SonOfCod.Models.Visitor

@{
    ViewData["Title"] = "Son Of Cod - Subscribe to Newsletter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <h2>Hello @User.Identity.Name!</h2>
    <h3>List of people signed up for email newsletter: </h3>
    <div class="newsletter-list">
        @foreach (var visitor in ViewBag.Visitors)
        {
            <div class="newsletter-list-item">
                <p><span class="visitor-email">@visitor.VisitorEmail</span> spends about $@visitor.MonthlySpending per month</p>
                <p>@visitor.AmountPeople people to feed</p>
                <p>Reason for signing up: @visitor.Reason</p>
            </div>
        }
    </div>
}
else
{
    <h1>Sign up for our newsletter</h1>
    <h3>Get notifications of any sales going on at Son of Cod Seafood! We offer lower prices, bigger quantities, and exclusive meats through our newsletter. Emails come about once a week.</h3>
    @using (Html.BeginForm("Create", "Newsletter", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("Email")
            @Html.TextBoxFor(m => m.VisitorEmail)
        </div>

        <div class="form-group">
            @Html.Label("How much do you spend on seafood a month?")
            @Html.TextBoxFor(m => m.MonthlySpending)
        </div>

        <div class="form-group">
            @Html.Label("How many people are you responsible for feeding?")
            @Html.TextBoxFor(m => m.AmountPeople)
        </div>

        <div class="form-group">
            @Html.Label("What's your reason for subscribing?")
            @Html.DropDownList("Reason", (IEnumerable<SelectListItem>)ViewBag.Reasons, new { @class = "form-control" })
        </div>

        <input type="submit" value="Create" class="btn btn-primary" />
    }

}



